.conteiner {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0 auto;
	width: 1100px;
	box-sizing: border-box;
	background-color: #C4C4C4;
	padding: 50px;
}

.conteiner .wrapper:not(:last-child) {
	margin-bottom: 50px;
}

.wrapper {
	background-color: #E6E6E6;
	text-align: center;
	box-sizing: border-box;
}

.box {
	background-color: #FC8F8F;
	color: white;
	font-weight: 700;
	font-size: 64px;
	line-height: 75px;
}

.box-wrap {
	float: right;
}

.midle_box2,
.box3,
.box4,
.midle_box5 {
	float: left;
	width: 100px;
	height: 100px;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
}

.box1,
.bottom_box2,
.box2,
.box3d,
.box4d {
	float: left;
	width: 200px;
	height: 200px;
}

.wrapper::after {
	content: '';
	display: block;
	clear: both;
}

.bottom_box2,
.midle_box2,
.box3,
.box4,
.midle_box5,
.box3d,
.box4d {
	margin-left: 15px;
}